* {
	margin: 0;
}

.middle {
	text-align: center;
	padding: 19% 0;
	font-size: 30pt
}

.abtbar {
	width: 60%
	margin: 0 auto;
	text-align: right;
	margin-right: 15px;
}

.abtbar ul {
	list-style-type: none;

}

.abtbar ul li {
	display: inline;
	font-size: 15pt;

}

.abtbar ul li a {
	text-decoration: none;
}

.abtbar ul li a:hover {
	color: blue;
	text-decoration: underline;
}

.mainlinks {
	text-align: center;
	margin-left: -3%;
}

.mainlinks li {
	list-style-type: none;
	text-decoration-color: black;
}

.mainlinks ul li {
	display: inline;
	font-size: 20pt;
}

.mainlinks ul li a {
	text-decoration: none;
}

.mainlinks ul li a:hover {
	color: blue;
	text-decoration: underline;
}

body {
	background: url(../pictures/programming1.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@media all and (max-width: 480px) {
	.middle {
	text-align: center;
	padding: 70% 0;
	font-size: 15pt
}

	.mainlinks ul li {
	display: inline;
	font-size: 15pt;
}


}

@media all and (min-width: 481px) and (max-width: 768px) {
	.middle {
	text-align: center;
	padding: 40% 0;
	font-size: 20pt
}

	.mainlinks ul li {
	display: inline;
	font-size: 15pt;

}

@media all and (min-width: 769px) (max-width: 992px) {
	.middle {
	text-align: center;
	padding: 35% 0;
	font-size: 20pt
}

	.mainlinks ul li {
	display: inline;
	font-size: 15pt;

}

























